.modal-settings {
  @include modal(430px, 300px);
  display: none;
  flex-direction: column;
  align-items: center;

  &__list {
    margin: 20px 20px;

    li {
      font-size: 18px;
      color: $darkGray;
      margin-bottom: 15px;

      b {
        color: $red;
      }
    }
  }

  .settings-wrapper {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .settings-block {
      display: flex;
      margin: 15px 0;
      .set {
        margin-right: 10px;
        &__title {
          display: block;
          color: $lightGray;
          font-size: 16px;
          margin-bottom: 5px;
        }

        &__input {
          width: 100%;
          color: $gray;
          background-color: #eeeeee;
          border-radius: 5px;
          border: none;
          outline: none;
          padding: 7px 10px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .settings-line {
      margin: 15px 0;
      .set {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__title {
          display: block;
          color: $lightGray;
          font-size: 16px;
          margin: 0 10px 5px 0;
        }

        &__input {
          width: 100px;
          color: $gray;
          background-color: #eeeeee;
          border-radius: 5px;
          border: none;
          outline: none;
          padding: 7px 10px;
        }
      }
    }
  }

  .controlls {
    display: flex;
    &__button {
      @include btn(#fff, $red, $darkRed, $darkRedActive);
      min-width: 130px;
      max-width: 180px;
      padding: 10px 0;
      font-weight: 700;
      text-transform: uppercase;
    }

    .cancel {
      @include btn(#fff, $lightGray, $gray, $darkGray);
    }
  }
}

.modal-settings_active {
  display: flex;
}
