$red: #ff725f;
$red02: rgba(255, 114, 95, 0.2);
$red05: rgba(255, 114, 95, 0.6);

$white008: rgba(255, 255, 255, 0.08);
$white01: rgba(255, 255, 255, 0.1);
$white02: rgba(255, 255, 255, 0.2);
$white03: rgba(255, 255, 255, 0.3);
