$red: #ff725f;
$red02: rgba(255, 114, 95, 0.2);
$red05: rgba(255, 114, 95, 0.6);

$darkRed: #d15342;
$darkRedActive: #af3d2d;

$white008: rgba(255, 255, 255, 0.08);
$white01: rgba(255, 255, 255, 0.1);
$white02: rgba(255, 255, 255, 0.2);
$white03: rgba(255, 255, 255, 0.3);
$white04: rgba(255, 255, 255, 0.4);

$darkGray: #414141;
$gray: #636363;
$lightGray: #c6c6c6;
