@mixin btn($color, $bg, $hover, $active) {
  border: none;
  border-radius: 5px;
  color: $color;
  background-color: $bg;
  margin-right: 20px;
  transition: 0.3s ease-in;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: $hover;
  }

  &:active {
    background-color: $active;
  }
}

@mixin modal($width, $height) {
  position: fixed;
  max-width: $width;
  min-width: 290px;
  height: $height;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 20px;
  z-index: 3;

  &__title {
    font-size: 28px;
    font-weight: 700;
    color: $darkGray;
    text-align: center;
  }
}
