@import "reset.scss";
@import "_vars.scss";
@import "helpers.scss";

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: $red;

  .content {
    max-width: 600px;
    min-width: 320px;
    padding: 0 20px;
    margin: 0 auto;

    @import "components/header/header.scss";
    @import "components/timer/timer.scss";
    @import "components/tasks/tasks.scss";
  }
}

@import "components/modals/modal-how.scss";
@import "components/modals/modal-settings.scss";
@import "components/layout/layout.scss";
