.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white02;
  border-radius: 10px;
  padding: 30px;

  .type-container {
    &__elem {
      @include btn(#fff, transparent, $red05, $red05);
      width: 120px;
      height: 35px;

      &_active {
        background-color: $red05;
      }
    }
  }

  .count-container {
    margin: 20px 0;
    &__counter {
      font-size: 72px;
      color: #fff;
      font-weight: 700;
    }
  }

  .control-container {
    position: relative;
    &__elem {
      @include btn($red, #fff, #eee, #cecece);
      width: 280px;
      height: 50px;
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
      margin-right: 0;
    }

    .pause {
      display: none;
    }

    .next {
      display: none;
      position: absolute;
      top: calc(50% - 13px);
      right: -40px;
      width: 26px;
      height: 26px;
      background-image: url(../scss/components/timer/img/next-btn.svg);
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center center;

      &:hover {
        background-image: url(../scss/components/timer/img/next-btn-hover.svg);
      }
    }
  }
}
