.tasks,
.done-tasks {
  margin: 30px 0;
  &__title {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .tasks-list,
  .done-tasks-list {
    &__elem {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 80px;
      background-color: $white01;
      border-radius: 10px;
      padding: 0 20px;
      margin: 10px 0;

      @import "checkbox/checkbox.scss";

      .task-title,
      .done-task-title {
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        flex: 1;
        margin: 0 20px;
      }

      .task-stat,
      .done-task-stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;

        &__quanity {
          font-weight: 500;
        }

        &__time {
          font-size: 14px;
          opacity: 0.5;
        }
      }
    }

    &__add {
      position: relative;
      align-items: center;
      width: 100%;
      min-height: 80px;
      border-radius: 10px;
      background-color: $white008;
      transition: background-color 0.3s linear;
      cursor: pointer;
      padding: 0 20px;
      margin: 10px 0;

      .add-task-title {
        width: 100%;
        color: #fff;
        font-size: 18px;
        text-align: center;
        cursor: pointer;

        &::before {
          content: "";
          width: 29px;
          display: inline-block;
          height: 29px;
          background: url(../scss/components/tasks/img/add.svg);
          background-repeat: no-repeat;
          background-position: center center;
          vertical-align: middle;
          margin: -4px 0 0 0;
        }
      }

      &:hover {
        background-color: $white02;
      }
    }

    &__add_show {
      display: flex;
    }

    &__add_hide {
      display: none;
    }

    .create-task-form_hide {
      display: none;
    }

    .create-task-form_show {
      display: flex;
    }

    .create-task-form {
      flex-direction: column;
      width: 100%;
      background-color: $white01;
      border-radius: 10px;
      padding: 0 20px 12px;
      margin: 10px 0;

      &__input {
        color: #fff;
        font-size: 20px;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 15px 0;
        margin-bottom: 10px;

        &::placeholder {
          color: $white04;
          font-style: italic;
        }
      }

      &__label {
        color: $white04;
        margin-bottom: 6px;
      }

      &__number {
        width: 80px;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: $white03;
        color: #fff;
        padding: 5px 10px;
        margin-bottom: 20px;
      }

      &-btns {
        &__btn {
          width: 80px;
          @include btn(#fff, $white02, $white02, $white03);
          padding: 6px 0;
          margin-right: 5px;
        }

        .cancel-btn {
          color: rgba(255, 255, 255, 0.6);
          background-color: transparent;
        }
      }
    }

    &__elem {
      cursor: pointer;
      transition: 0.3s linear;
      &:hover {
        background-color: $white02;
      }
    }
  }

  .tasks-list__elem_active {
    background-color: $white03;

    &:hover {
      background-color: $white03;
    }
  }
}
